.result-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .result-list .result-item {
    padding: 1.5rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center; }
    .result-list .result-item .icon {
      padding-right: 1.5rem; }
